<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" id="myViewport">
    <title><%= content_for?(:title) ? yield(:title) : "Enchanted World" %></title>
    <meta name="description" content="<%= content_for?(:description) ? yield(:description) : "Enchanted World" %>">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => 'reload' %>
    <%= csrf_meta_tags %>
    <%= favicon_link_tag('faviconb.ico') %>
    <link rel="manifest" href="/manifest.json">

    <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
    <script>
         (adsbygoogle = window.adsbygoogle || []).push({
              google_ad_client: "ca-pub-1429880673944819",
              enable_page_level_ads: true
         });
    </script>

<meta name="apple-mobile-web-app-capable" content="yes"></head>
  <body>
    <header>
      <%= render 'layouts/navigation' %>
    </header>
    <main role="main">
        <% flash.each do |name, msg| -%>
          <%= content_tag :div, msg, class: name %>
        <% end -%>
       <%= render 'layouts/messages' %>
       <%= yield %>
    </main>
  </body>
</html>